#root {
  height: 100vh;
}
.max-width-140 {
  max-width: 70px !important;
}
.space-white-sm {
  height: 5px;
}
.space-white-md {
  height: 8px;
}
.space-white-lg {
  height: 10px;
}
.space-white-llg {
  height: 15px;
}
.space-white-xl {
  height: 20px;
}
.space-white-xxl {
  height: 30px;
}
.setting-btn {
  position: absolute;
  right: -3px;
  top: -3px;
}
.of-hide {
  overflow: hidden;
}
.no-wrap {
  white-space: nowrap;
}

.bd-right,
.bd-bottom,
.bd-top {
  position: relative;
}
.bd-right::before {
  content: '';
  width: 1px;
  background: #25232e;
  position: absolute;
  top: 50%;
  bottom: 0;
  right: 0;
  transform-origin: 100% 50%;
  height: 55%;
  transform: translateY(-50%);
}

.bd-bottom::before {
  content: '';
  height: 1px;
  background: #25232e;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  transform-origin: 50% 100%;
}
.bd-top::before {
  content: '';
  height: 1px;
  background: #25232e;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  transform-origin: 50% 100%;
}

* {
  -webkit-overflow-scrolling: touch;
}
*::-webkit-scrollbar {
  display: none;
}
* {
  scrollbar-width: none;
}
* {
  -ms-overflow-style: none;
}
.opacity-7 {
  opacity: 0.7;
}

.opacity-6 {
  opacity: 0.6;
}

.opacity-1 {
  opacity: 1;
}

.font-size-20 {
  font-size: 20px !important;
}
.font-size-32 {
  font-size: 32px !important;
}

.font-size-18 {
  font-size: 18px !important;
}
.font-size-16 {
  font-size: 16px !important;
}
.font-size-15 {
  font-size: 15px !important;
}
.font-size-14 {
  font-size: 14px !important;
}
.font-size-13 {
  font-size: 13px !important;
}
.font-size-22 {
  font-size: 22px !important;
}

.font-size-24 {
  font-size: 24px !important;
}
.font-size-12 {
  font-size: 12px !important;
}
.font-size-10 {
  font-size: 10px !important;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-underline {
  text-decoration: underline;
}
#root .text-right {
  text-align: right;
}

.center-block {
  margin-left: auto;
  margin-right: auto;
}
.line-height-18 {
  line-height: 18px;
}
.line-height-20 {
  line-height: 20px;
}
.line-height-30 {
  line-height: 30px;
}
.line-height-40 {
  line-height: 40px;
}
.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}
.bold-600 {
  font-weight: 600;
}
.border-radius-3 {
  border-radius: 3px;
}
.border-radius-5 {
  border-radius: 5px;
}
.border-radius-50 {
  border-radius: 50%;
}
.border-radius-none {
  border-radius: 0 !important;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-left-4 {
  margin-left: 4px;
}
#root .margin-left-5 {
  margin-left: 5px;
}
.margin-left-m5 {
  margin-left: -8px;
}
.margin-left-10 {
  margin-left: 10px;
}
.margin-left-15 {
  margin-left: 15px;
}
.margin-left-minus-10 {
  margin-left: -10px;
}
.margin-left-minus-15 {
  margin-left: -15px;
}
.margin-right-3 {
  margin-right: 3px;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}
#root .padding-bottom0 {
  padding-bottom: 0;
}
#root .margin-right-5 {
  margin-right: 5px;
}
.margin-right-10 {
  margin-right: 10px;
}
.margin-right-30 {
  margin-right: 30px;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}
.position-static {
  position: static !important;
}
.position-relative {
  position: relative !important;
}

.translateX-50 {
  transform: translateX(-50%);
  left: 50%;
}
.translateY-50 {
  transform: translateY(-50%);
  top: 50%;
}
.translate-50 {
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
.width-80 {
  width: 80%;
}
.width-70 {
  width: 70%;
}
#root .width-100 {
  width: 100%;
}
.width-100px {
  width: 100px !important;
}
.width-60 {
  width: 60% !important;
}
.width-47 {
  width: 47% !important;
}
.width-32 {
  width: 32% !important;
}
#root .width-49 {
  width: 49%;
}
.height-auto {
  height: auto !important;
}

.flex-wrap {
  flex-wrap: wrap;
}
.flex-row-center-center {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.flex-column-align-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex-jc-center {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  flex-direction: row !important;
}
#root .flex-jc-center-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.flex-jc-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.flex-al-start {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.flex-al-end {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.flex-al-stretch {
  display: flex;
  align-items: stretch;
  align-content: stretch;
  justify-content: space-between;
}

.flex-jc-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.flex-al-center {
  display: flex;
  align-items: center;
}
.flex-none {
  flex: none !important;
}
.flex1 {
  flex: 1;
}
.flex3 {
  flex: 0.3;
}

.cursor-pointer {
  cursor: pointer;
}
.nowrap {
  white-space: nowrap;
}
.break-all {
  word-break: break-all;
}
.wing-blank {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  box-sizing: border-box;
}

.wing-blank-lg {
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  box-sizing: border-box;
}

.word-break {
  word-break: break-all;
  word-wrap: break-word;
}
@media (max-width: 768px) {
  .font-size-32 {
    font-size: 24px !important;
  }
  .space-white-lg {
    height: 8px;
  }
  .space-white-md {
    height: 6px;
  }
  .space-white-xl {
    height: 15px;
  }
  .font-size-18 {
    font-size: 16px !important;
  }
  .font-size-12 {
    font-size: 10px !important;
  }
  .font-size-24 {
    font-size: 18px !important;
  }
  .font-size-22 {
    font-size: 16px !important;
  }
}
.inline-block {
  display: inline-block;
}
